.view_doctor-btn {
    margin-left: 25px;
    color: #fff;
    background-color: #2f80ec;
    
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  
}